.todo-item {
    width: 500px;
    border: 1px solid black;
    text-align: left;
    position: relative;
    margin: 20px auto;
    display: flex;
    justify-content: space-between;
    }
         
.finish {
    text-decoration: line-through;
}

.delete{
    width: 30px;
    position: absolute;
    right: 0;
}

.edit{
    position: absolute;
    right: 8%;
}

